{{!-- HEADER ALL PAGES --}}
<header class='main-nav'>
  <ul>
    <li>
      <a href='/admin'>
        <i class='fa fa-tachometer'></i>
        <span>Панел</span>
      </a> 
    </li>
    <li>
      <i class='fa fa-video-camera'></i>
      <span>Прожекции</span>
    </li>
    <li class='menu'>
      <i class='fa fa-bars'></i>
      <div >
        <span>Меню</span>
        <div class='dropdown'>
         <a href='/admin/cinema'><i class='fa fa-desktop'>Кина</i></a>
         <a href='/admin/movies'><i class='fa fa-film'>Филми</i></a>
        </div>
      </div>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Потребители</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Настройки</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Изход</span>
    </li>
  </ul>
</header>
{{!-- Details --}}
<div class='content'>
    <div class="row">
        {{!-- {{#if cinema.zali.length}} --}}
        <div class='logo'>
          <h2 class='zala'>Кино {{ name }}</h2>
          <img class='curve' src='/images/curve.png'/>
        </div>
         {{!-- <div class='add-zala'>
          <i class="fa fa-plus-square" aria-hidden="true">
            <a class='add-zala-btn' href='/admin/cinema/details/{{../kidoID}}'>Добави зала</a>
          </i>
        </div>       --}}
        {{#each zali}}
        <div class="col-lg-3 col-md-6 zali">
            <div class="panel panel-first">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3"><i class="fa fa-desktop fa-5x"></i></div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Зала {{ zalaID }}</div>
                        <div>Места {{ capacity }}</div>
                    </div>
                </div>
                </div><a class='panel-href' href="/admin/cinema/details/{{../kinoID}}/{{zalaID}}">
                <div class="panel-footer"><span class="pull-left">Детайли</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div></a>
            </div>
        </div>
        {{/each}}
        <div class='add-zala'>
          <i class="fa fa-plus-square fa-2x" aria-hidden="true">
            <a class='add-zala-btn' href='/admin/cinema/details/{{ kinoID }}?newSalloon'>Добави зала</a>
          </i>
        </div>  
        {{!-- {{/if}} --}}
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 first">
          {{#if zali.length}}
            <div class='seat-map'>
              {{#each zali}}
              <h2> Зала {{ zalaID }}</h2> 
              <div class='edit-btn'>
                <i class="fa fa-pencil-square-o fa-2x"><a href=''> Редактирай </a></i>
              </div>
              <span class='titleRow'> Ред </span>
              <table>
              {{#each space}}
                <tr>
                  <th>{{@index}}</th>
                {{#each this}}
                  <td class='seat'>
                    <img class='img-table' src='/images/seat.gif'>
                    <span class='text-table'>{{@index}}</span>
                    </td>
                  {{/each}}
                </tr>
              {{/each}}
              </tr>
              </table>
              {{/each}}
            </div>
            {{/if}}
        </div>
        <div class="col-sm-6 second">
          <div class='edit-form'>
            <form action='' method="POST">
               <h2> Редактирай зала {{ zalaID }}</h2><br/>
              {{#each zali}}
              {{!-- <label class='edit-label'>Зала:</label><input name='zalaID' value='{{zalaID}}'><br/> --}}
              <a class='add-row' href=''>
                <i class="fa fa-plus" aria-hidden="true">
                  Добави ред
                </i>
              </a>
              {{#each space}}
              <div class='edit-row'>
                <label>Ред {{@index}}<input type='number' name='space' value='{{this.length}}'></label>
              </div>       
              {{/each}}       
              {{/each}}
              <br/>
              <button>Запази</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>