{{!-- HEADER ALL PAGE --}}
<header class='main-nav'>
  <ul>
    <li>
     <a href='/admin'>
        <i class='fa fa-tachometer'></i>
        <span>Панел</span>
      </a> 
    </li>
    <li>
      <i class='fa fa-video-camera'></i>
      <span>Прожекции</span>
    </li>
    <li class='menu'>
      <i class='fa fa-bars'></i>
      <div >
        <span>Меню</span>
        <div class='dropdown'>
          <a href='/admin/cinema'><i class='fa fa-desktop'>Кина</i></a>
          <a href='/admin/movies'><i class='fa fa-film'>Филми</i></a>
        </div>
      </div>
    </li>
    <li>
      <i class='fa fa-users'></i>
      <span>Потребители</span>
    </li>
    <li>
      <i class='fa fa-sliders'></i>
      <span>Настройки</span>
    </li>
    <li>
      <i class='fa fa-sign-out'></i>
      <span>Изход</span>
    </li>
  </ul>
</header>

{{!-- CINEMAS --}}

<div class='content'>
  <div class='cinema'>
    <div class='add-movie'>
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <a href='/admin/cinema/addCinema'>Добави кино</a>
    </div>
    <div class="row">
    {{#each cinemas}}
      <div class=" col-md-12 ">
        <div class="panel panel-first">
          <div class="panel-heading">
            <div class="row">
              <div class="col-lg-3"><i class="fa fa-desktop fa-5x"></i></div>
              <div class="col-xs-9 text-right">
                <div class="huge">{{name}}</div>
                <div>{{address}}</div>
                <div>Зали {{zali.length}}</div>
              </div>
            </div>
          </div>
          <a data-toggle="collapse" class='panel-href' data-parent="#accordion" href="#collapse{{@index}}">
        <div class="panel-footer"><span class="pull-left">Детайли</span><span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix"></div>
            </div>
          </a>
        </div>
      </div>
       <div class=" col-md-12 panel-collapse collapse" id='collapse{{@index}}'>
          <div class="container projects">
            <div class="projects-inner">
              <header class="projects-header">
                <div class="title">Ongoing Projections Kино {{ name }}</div>
                <div class="count">|{{ projections.length}}</div>
                <a href='/admin/cinema/addProjection/{{kinoID}}'>
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </header>
              <table class="projects-table">
              <thead>
                <tr>
                  <th>Movie</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Status</th>
                </tr>
              </thead>
                {{#each projections }}
                <tr>
                  <td>
                    <p>{{ name }}</p>
                    <p>Google</p>
                  </td>
                  <td>
                    <p>{{startDate}}</p>
                    <p class="danger-text">Overdue</p>
                  </td>
                  <td class="member">
                    <figure><img src=""/></figure>
                    <div class="member-info">
                      <p>{{ endDate }}</p>
                      <p>UK Design Team</p>
                    </div>
                  </td>
                  <td class="status"><span class="status-text status-orange">In progress</span>
                  </td>
                </tr>
              {{/each}}
              </table>
            </div>
          </div>
        </div>
      {{/each}}  
    </div>
  </div>
</div>
